--indent tab
--ifdef no-indent
--swiftversion 5.7
--exclude Pods,**/Templates
--disable preferKeyPath
--disable wrapConditionalBodies
--disable sortDeclarations
--disable blankLinesAtStartOfScope
--disable opaqueGenericParameters
--redundanttype inferred
--header ""
--enable organizeDeclarations
--organizetypes markcategories
--extensionacl on-extension
--stripunusedargs unnamed-only
--enable genericExtensions
--enable typeSugar
--enable docComments
